body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#tabuleiro {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 1px;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    justify-self: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.casa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease-in-out;
}

.preto {
    background-color: #333;
}

.branco {
    background-color: #fff;
}

.casa:hover {
    background-color: #ccc;
}

#iniciar-jogo {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

#iniciar-jogo:hover {
    background-color: #3e8e41;
}

.peca {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.possivel {
    background-color: #ccc;
}